.container {
    background: rgba(25,121,35,.7);
    width: 100vw;
    height: 100vh;
}



.menucontainer {
    margin-left: 20px;
    margin-top: 50px;
    padding-bottom: 100px;
    z-index: 50px;
    .primary {

        ul {
            line-height: 1.7;
            display: flex;
            flex-direction: column;
            li {
                font-weight: 500;
                font-size: 3em;
                list-style-type: none;
                color: white;
                letter-spacing: 6px;
        


            }
            li:hover {
                color: black;
            }
        }
    }
    .secondary {
        margin-top: 5vh;
        ul {
            line-height: 1.4;
            li {
                font-weight: 300;
                font-size: 1.5em;
                list-style-type: none;
                color: white;
                letter-spacing: 3px;
            }
            li:hover {
                color: black;
            }
        
        }
       
        
    }
}
.links{
    text-decoration: none;
}

