
$background-color: white;
$prim-color: rgba(25,121,35,.7);

.mainBox{
    width: 100vw;
    overflow: hidden;
    background-color: $background-color;
}
.mainBox {
    .missionDiv{
        margin-top: 100px;
    }
}
.mainBox {
    .missionDiv{
        .missionH1{
            color: black;
            font-size: 50px;
            line-height: 50px;
            margin-top: 0px;
            margin-left: 20px;
            letter-spacing: 3px;
        }
    }
}
.mainBox {
    .missionDiv{
        .missionBox{
            display: flex;
            justify-content: flex-start;
            padding-left: 2em;
            margin: 4vh 0;
            margin-left: 20px;
            border-left: 5px solid black;
        }
    }
}
.mainBox {
    .missionDiv{
        .missionBox{
            .missionP{

                padding: 10px 0;
                padding-bottom: 30px;
                padding-right: 20px;
                max-width: 600px;
                font-size: 12px;
                letter-spacing: 2px;
                line-height: 25px;

            }
        }
    }
}
.mainBox {
    .missionDiv{
        .button{
            width: 200px;
            height: 60px;
            background-color: $prim-color;
            letter-spacing: 2px;
            margin-left: 20px;
            border: none;
            font-size: 13px;
            color: #ffffff;
        }
    }
}

